@import url('https://fonts.googleapis.com/css?family=Varela+Round');
html,
body {  overflow-x: hidden;  height: 100%;}
body {  background: #fff;  padding: 0;  margin: 0;  font-family: 'Varela Round', sans-serif;}
.main {  margin: 0 auto;  display: block;  height: 100%;  margin-top: 60px;}
.mainInner {  height: 100%;  width: 100%;  position: fixed;  margin-top: 60px;  text-align: center;  font-size: 30px;  z-index: 1;  transition-duration: 1s;}
.setting {  --width:150px;  display: none;  left: 250px;  top: 60px;  z-index: 96;  height: auto;  position: fixed; background-color: white; border: 1px solid #cccccc;}
.setting.active {  display: block;}
.colorRadio {  transform: scale(1.6);}
.colorSetSpan {  font-size: 1.2em;}
.clock{    font-size: 100px;    text-align: center;    margin-top: calc(50vh - 60px);}